<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
	<link href="css/vendor/fontawesome/fontawesome-all.css" rel="stylesheet">
	<link href="css/custom.css" rel="stylesheet">
	<link href="css/modern-business.css" rel="stylesheet">
</head>
<body ng-app="app" ng-controller="UsuarioController">
	<div class="container">
	    <div class="row">
	        <div class="col-sm-12 col-md-8 center">
	            <div class="account-wall">
	                <img class="profile-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwuHDxGOPsGYpgGIlnDjTr9vXhQeruMExgcQ8PVn4XqD7LYUBrfw"
	                    alt="">
	            	<h5 class="text-center login-title">CADASTRO</h5>
	                <form class="form-signin" ng-show="flagApresentarLogin">
		                <input type="text" ng-model="usuario.email" class="form-control"  autocomplete="new-password" placeholder="Email" required autofocus>
		                <input type="password" ng-model="usuario.senha" class="form-control"  autocomplete="new-password" placeholder="Password" required>
		                <button class="btn btn-lg btn-primary btn-block" 
		                		type="submit" 
		                		ng-disabled="!usuario.email || !usuario.senha" 
		                		ng-click="logar()">entrar
	                	</button>
		                <button class="btn btn-lg btn-success btn-block" type="button" ng-click="apresentarLogin(false)">cadastrar</button>
		                <div class="alert alert-danger" role="alert" ng-if="flagErro">
						  <i class="fas fa-exclamation-triangle"></i>
						  <span class="sr-only">Error:</span>
						  <span ng-bind="mensagem"></span>
						</div>
	                </form>
	                <form class="form-signup wrapper-form" ng-show="!flagApresentarLogin">
		                <select class="form-control" ng-model="usuario.tipo">
		                	<option value="">selecione um tipo</option>
		                	<option value="ADMINISTRADOR">Administrador</option>
		                	<option value="CLIENTE">Cliente</option>
		                	<option value="FUNCIONARIO">Funcionário</option>
		                </select>
	                	<input type="text" ng-model="usuario.nome" class="form-control" placeholder="nome" autocomplete="new-password" required autofocus>
	                	<input type="text" ng-model="usuario.email" class="form-control" placeholder="email" autocomplete="new-password" required autofocus>
		                <input type="password" ng-model="usuario.senha" class="form-control" placeholder="password" autocomplete="new-password" required>
		                <input type="number" 
		                		ng-model="usuario.porcentagem" 
		                		class="form-control" 
		                		placeholder="porcentagem" 
		                		ng-show="usuario.tipo == 'FUNCIONARIO'"
		                		step="5" 
		                		min="0" 
		                		max="100">
        				<button class="btn btn-lg btn-primary btn-block" type="button" 
        						ng-click="cadastrar()"
        						ng-disabled="!usuario.tipo || !usuario.nome || !usuario.email || !usuario.senha" >cadastrar
						</button>
        				<button class="btn btn-lg btn-warning btn-block" type="button" ng-click="apresentarLogin(true)">voltar</button>
	                </form>
	            </div>
	        </div>
	    </div>
	</div>

	<div class="scripts">
	    <script src="js/vendor/jquery/jquery.min.js"></script>
	    <script src="js/vendor/bootstrap/bootstrap.min.js"></script>
	    <script src="js/vendor/angularjs/angular.min.js"></script>
	    <script src="js/vendor/angularjs/ngStorage.min.js"></script>
	    <script src="js/app.js"></script>
	    <script src="js/usuario-controller.js"></script>
	    <script src="js/usuario-service.js"></script>
	    
	</div>
</body>
</html>