<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
	<link href="css/vendor/fontawesome/fontawesome-all.css" rel="stylesheet">
	<link href="css/custom.css" rel="stylesheet">
	<link href="css/modern-business.css" rel="stylesheet">
</head>
<body ng-app="app" ng-controller="AdminController">
	<div class="container">
	    <div class="row">
	        <div class="col-sm-12 col-md-8 center">
	            <div class="account-wall">
	            	<h5 class="text-center">Gerenciamento de usuários</h5>
	                <div class="wrapper-form">
	                	<table class="table">
	                		<tr>
	                			<th>coluna1</th>
	                			<th>coluna2</th>
	                		</tr>
	                		<tr>
	                			<td>nome do usuário</td>
	                			<td>editar | excluir</td>
	                		</tr>
	                		<tr>
	                			<td>nome do usuário</td>
	                			<td>editar | excluir</td>
	                		</tr>
	                		<tr>
	                			<td>nome do usuário</td>
	                			<td>editar | excluir</td>
	                		</tr>
	                		<tr>
	                			<td>nome do usuário</td>
	                			<td>editar | excluir</td>
	                		</tr>
	                	</table>
	                	<button class="btn btn-lg btn-success btn-block" type="button">novo</button>
	                	<button class="btn btn-lg btn-warning btn-block" type="button" ng-click="voltar()">voltar</button>
                		<button class="btn btn-lg btn-danger btn-block" 
		                		type="buttom" ng-click="sair()">sair
                		</button>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

	<div class="scripts">
	    <script src="js/vendor/jquery/jquery.min.js"></script>
	    <script src="js/vendor/bootstrap/bootstrap.min.js"></script>
	    <script src="js/vendor/angularjs/angular.min.js"></script>
	    <script src="js/app.js"></script>
	    <script src="js/usuario-controller.js"></script>
	    <script src="js/usuario-service.js"></script>
	    <script src="js/admin-controller.js"></script>
	    
	</div>
</body>
</html>