 <div id="contas" class="container-fluid" style="margin-top: 78px">
	<div id="top" class="row">
		<div class="col-sm-2">
			<h2>
			Contas
			<span class="total"></span> 
			</h2>
		    <script type="text/ng-template" id="myPopoverTemplate.html">
				<div class="form-group">
					<label>Data destino:</label>
					<p class="input-group">
						<input type="text" 
						class="form-control" 
						uib-datepicker-popup="{{formats[5]}}" 
						ng-model="$parent.dataClonada" 
						datepicker-options="dateOptionsClone" 
						is-open="popup3" 
						readonly="true"/>
						<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="popup3=true"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</p>
					<button class="btn btn-success" ng-click="clonar()">clonar</button>
				</div>
		    </script>
		</div>
		<div class="col-sm-7" ng-class="{'oculto' : !flagPesquisa}">
			<div class="input-group h2 search">
				<input ng-model="anoMes" 
					class="form-control" 
					type="text" 
					placeholder="ano-mes" 
					ng-model-options='{ debounce: 1000 }'
        			ng-change='buscarContas()'>
				<span class="input-group-btn">
					<button class="btn btn-primary hide" type="submit">
						<span class="glyphicon glyphicon-search"></span>
					</button>
					<button class="btn btn-primary hide" type="button" id="anos">
						<span class="glyphicon glyphicon-th"></span>
					</button>
					<button class="btn btn-default">&nbsp;</button>
					<button class="btn navegar-mes btn-success" ng-click="buscarPorIndice(-2)">{{buscarNomeDoMes(-2)}}</button>
					<button class="btn navegar-mes btn-success" ng-click="buscarPorIndice(-1)">{{buscarNomeDoMes(-1)}}</button>
					<button class="btn navegar-mes btn-danger"  ng-click="buscarPorIndice(0)">{{buscarNomeDoMes(0)}}</button>
					<button class="btn navegar-mes btn-success" ng-click="buscarPorIndice(+1)">{{buscarNomeDoMes(1)}}</button>
					<button class="btn navegar-mes btn-success" ng-click="buscarPorIndice(+2)">{{buscarNomeDoMes(2)}}</button>
				</span>
			</div>
		</div>
		<div class="col-sm-3">
			<a href="javascript:void(0)" ng-click="buscarContasAtuais()" id="mes-atual" class="btn btn-warning h2" ng-class="{'oculto' : !flagPesquisa}">Mês atual</a>
			<button 
				uib-popover-template="dynamicPopover.templateUrl" 
				popover-title="{{dynamicPopover.title}}" 
				popover-placement="bottom" 
				popover-is-open="dynamicPopover.show" 
				type="button" 
				class="btn btn-danger h2" 
				>Clonar
			</button>
			<a href="javascript:void(0)" id="nova_conta" class="btn btn-success pull-right h2" ng-click="novaConta()">Nova conta</a>
			<span></span>
			<div class="btn-group configuracoes ">
			  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Configurações <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
				<li><a href="javascript:void(0)" ng-click="flagGrafico=!flagGrafico">Grafico</a></li>
				<li><a href="javascript:void(0)" ng-click="flagResumo=!flagResumo" id="menu-resumo">Resumo</a></li>
				<li><a href="javascript:void(0)" ng-click="" id="menu-paginacao" class="hide">Paginação</a></li>
				<li><a href="javascript:void(0)" ng-click="flagPesquisa=!flagPesquisa" id="menu-pesquisa">Pesquisa</a></li>
				<li><a href="javascript:void(0)" ng-click="flagTabela=!flagTabela" ng-init="flagTabela=true">Tabela</a></li>
				<li><a href="javascript:void(0)" ng-click="excluirTodas()">Excluir tudo</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="javascript:void(0)" ng-click="" class="todos-meses">Todos mêses</a></li>
			  </ul>
			</div>
		</div>
	</div> <!-- /#top -->
	<div style="height: 300px" id="grafico-wrapper" ng-show="flagGrafico && !flagSemConteudo"> 
		<canvas id="myChart2" ></canvas>
	</div>	
	<div class="row" id="incAltFundo" ng-show="flagIncAlt" ng-click="flagIncAlt=false">
	</div>
	<div class="row" id="incAlt" ng-show="flagIncAlt">
		<form name="formConta">
			<div class="form-group col-md-2">
				<label for="sel1">Id:</label>
				<input type="text" class="form-control id" id="id" ng-model="conta.id" ng-disabled="true">
			</div>      
			<div class="form-group col-md-2 calendario">
				<label for="">Vencimento (*):</label>
				<p class="input-group">
		          <input type="text" class="form-control" 
		          	uib-datepicker-popup="{{format}}" 
		          	ng-model="conta.vencimento" 
		          	is-open="popup1.opened" 
		          	datepicker-options="dateOptions" 
		          	ng-required="required" 
		          	close-text="Close" 
		          	alt-input-formats="altInputFormats" />
		          <span class="input-group-btn">
		            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
		          </span>
		        </p>
			</div>
			<div class="form-group col-md-2">
				<label for="">Valor (*):</label>
				<input type="text" class="form-control" id="valor" ng-required="required" ng-model="conta.valor" ui-money-mask ui-negative-number>
			</div>
			<div class="form-group col-md-6">
				<label for="">Descrição (*):</label>
				<input type="text" class="form-control" id="descricao" ng-required="required" ng-model="conta.descricao">
			</div>
			<div class="form-group col-md-4">
				<label for="">Forma:</label>
				<input type="text" class="form-control" id="forma" ng-model="conta.forma">
			</div>
			<div class="form-group col-md-2">
				<label for="tipo">Tipo:</label>
				<p class="input-group tipo">
					<label><input class="custom-control-input" type="radio" name="tipo" ng-click="mudarSinal('positivo')" ng-checked="conta.valor > 0 ">Entrada</input></label>
					<label><input class="custom-control-input" type="radio" name="tipo" ng-click="mudarSinal('negativo')" ng-checked="conta.valor <= 0 ">Saída</input></label>
				</p>
			</div>
			<div class="form-group col-md-2">
				<label for="">Efetuado: (<a href="javascript:void(0)" class="copiar" ng-click="conta.efetuado=conta.vencimento">copiar</a>)</label>
				<p class="input-group">
		          <input type="text" class="form-control" 
		          	uib-datepicker-popup="{{format}}" 
		          	ng-model="conta.efetuado" 
		          	is-open="popup2.opened" 
		          	datepicker-options="dateOptions" 
		          	close-text="Close" 
		          	alt-input-formats="altInputFormats" />
		          <span class="input-group-btn">
		            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
		          </span>
		        </p>
			</div>      
			<div class="form-group col-md-2">
				<label for="">Valor pago: (<a href="javascript:void(0)" class="copiar" ng-click="conta.valorPago=conta.valor">copiar</a>)</label>
				<input type="text" class="form-control" id="valorPago" ng-model="conta.valorPago" ui-money-mask ui-negative-number>
			</div>      
			<div class="form-group col-md-2">
				<label for="">Categoria:</label>
				<select class="form-control" ng-model="conta.categoria">
					<option>Alimentação</option>
					<option>Educação</option>
					<option>Higiene</option>
					<option>Imóvel</option>
					<option>Manutenção de casa</option>
					<option>Manutenção de veículo</option>
					<option>Presentes</option>
					<option>Refeição</option>
					<option>Roupas</option>
					<option>Saúde</option>
					<option>Viagens</option>
				</select>
			</div>
		</form>
		<div class="col-md-12">
			<a href="javascript:void(0)" class="btn btn-primary" ng-click="salvar()" ng-disabled="!formConta.$valid">Salvar</a>
			&nbsp;
			<a href="javascript:void(0)" class="btn btn-default cancelar" ng-click="cancelar()">Cancelar</a>
		</div>
	</div>
	<hr />
	<div class="row" id="resumo-geral" ng-if="flagResumo && !flagSemConteudo">
		<div id="resumo">
			<div class="btn btn-primary resumo-itens">Entradas: <span class="badge resumo-valor">{{totalEntradas | currency: "R$ "}}</span>&nbsp;<span class="badge" >{{quantidadeDeEntradas}}</span></div><br />
			<div class="btn btn-primary resumo-itens">Saídas: <span class="badge {{(totalSaidas)<0 ? 'negativo' : 'positivo'}} resumo-valor">{{totalSaidas | currency: "R$ "}}</span>&nbsp;<span class="badge">{{quantidadeDeSaidas}}</span></div><br />
			<div class="btn btn-primary resumo-itens">Balanço do mês: <span class="badge {{(totalEntradas + totalSaidas)<0 ? 'negativo' : 'positivo'}} resumo-valor">{{(totalEntradas + totalSaidas) | currency: "R$ "}}</span>&nbsp;<span class="badge">{{quantidadeDeEntradas + quantidadeDeSaidas}}</span></div><br />
		</div>
		<div id="resumo2" class="">
			<div class="btn btn-primary resumo-itens">Já foi pago: <span class="badge resumo-valor">{{totalContasPagas | currency: "R$ "}}</span>&nbsp;<span class="badge" id="cont-pago">{{quantidadeDeContasPagas}}</span></div><br />
			<div class="btn btn-primary resumo-itens">Falta pagar: <span class="badge resumo-valor">{{totalContasAPagar | currency: "R$ "}}</span>&nbsp;<span class="badge" id="cont-falta-pagar">{{quantidadeContasAPagar}}</span></div><br />
		</div>
	</div>
	<div class="row" id="prioridades" style="display:none">
		<div id="resumo" class="">
			<div class="btn background-green resumo-itens hide" id="prioridade0">Prioridade0: <span class="badge-branco badge resumo-valor"></span>&nbsp;<span class="badge-branco badge" id="cont-categoria_0">22</span></div><br />
			<div class="btn background-purple resumo-itens" id="prioridade1">Ordinárias: <span class="badge-branco badge resumo-valor"></span>&nbsp;<span class="badge-branco badge" id="cont-categoria_1"></span></div><br />
			<div class="btn background-gray resumo-itens" id="prioridade2">Extras: <span class="badge-branco badge resumo-valor"></span>&nbsp;<span class="badge-branco badge" id="cont-categoria_2"></span></div><br />
			<div class="btn background-red resumo-itens" id="prioridade3">Sem prioridade: <span class="badge-branco badge resumo-valor"></span>&nbsp;<span class="badge-branco badge" id="cont-categoria_3"></span></div><br />
			<div class="btn background-blue resumo-itens" id="prioridade4">Não teremos mais: <span class="badge-branco badge resumo-valor"></span>&nbsp;<span class="badge-branco badge" id="cont-categoria_4"></span></div><br />
		</div>
		<div id="resumo2" class="">
		</div>
	</div>
	<hr />
	<div id="list" class="row" ng-show="flagTabela">
		<div class="table-responsive col-md-12">
			<p class="mensagem" ng-show="flagSemConteudo">{{mensagem}}</p>
			<table class="table table-striped" cellspacing="0" cellpadding="0" ng-show="!flagSemConteudo">
				<thead>
					<tr>
						<th ng-show="!flagClean">Cont</th>
						<th ng-show="!flagClean">Id</th>
						<th>Vencimento</th>
						<th>Descrição</th>
						<th ng-show="!flagClean">Efetuado</th>
						<th>Status</th>
						<th class="valor">Valor</th>
						<th class="valorPago">Valor pago</th>
						<th ng-show="!flagClean">Categoria</th>
						<th class="actions"></th>
					</tr>
				</thead>
				<tbody class="listagem">
					<tr ng-repeat="conta in contas | orderBy:'vencimento'" ng-init="conta.confirmar=false" class="linha">	
						<td ng-show="!flagClean">{{$index+1}}</td>	
						<td ng-show="!flagClean">{{conta.id}}</td>	
						<td>{{conta.vencimento | date: "dd/MM/yy"}}</td>	
						<td>{{conta.descricao}}</td>	
						<td ng-show="!flagClean">{{conta.efetuado | date: "dd/MM/yy"}}</td>	
						<td> <span class="status label label-{{ conta.valorPago==null || conta.valorPago=='' || conta.valorPago==0 ? 'danger' : 'success' }}">---</span></td>	
						<td class="valor" ng-class="{vermelho : conta.valor<0}">{{conta.valor | currency : "R$ "}}</td>	
						<td class="valorPago" ng-class="{vermelho : conta.valorPago<0}">{{conta.valorPago | currency : "R$ "}}</td>	
						<td ng-show="!flagClean"> <span class="categoria categoria_2">{{conta.categoria}}</span></td>	
						<td class="actions">		
							<a ng-if="true" class="btn btn-success btn-xs btn-editar" href="javascript:void(0)" ng-click="editar(conta)">Editar</a>		
							<a ng-if="true" class="botao-excluir btn btn-warning btn-xs" href="javascript:void(0)" ng-show="conta.confirmar!=true" ng-click="conta.confirmar=true">Excluir</a>	
							<a ng-if="true" class="botao-excluir btn btn-danger btn-xs" href="javascript:void(0)" ng-show="conta.confirmar==true" ng-click="excluir(conta)">Confirmar</a>	
						</td>
					</tr>
				</tbody>
			</table> 
		</div>
	</div> <!-- /#list -->
</div> <!-- /#main -->