 <div id="home" class="container-fluid" style="margin-top: 78px">
 	<div id="meio" class="row">
		<div class="col-3">
			<h2>Escolha um item:</h2>
	        <a href="#/usuarios" class="btn btn-success acoes hide">Gerenciar usuários</a><br /><br />
	        <a href="#/contas" class="btn btn-success acoes">Contas</a><br /><br />
			<a href="clonar.php" class="btn btn-success acoes hide">Clonar mês</a><br /><br />
	        <a href="cartao-index.html" class="btn btn-success acoes hide">Cartões</a><br /><br />
			<a href="planejamento.html" class="btn btn-success acoes hide">Planejamento</a><br /><br />
    	</div>
  	</div> 
 </div> 