<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Index</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">
		<link rel="icon" href="imagens/favicon.ico" type="image/x-icon">
        
        <!-- CSS VENDOR -->
        <link href="css/vendor/bootstrap/bootstrap.css" rel="stylesheet">
        <link href="css/vendor/normalize/normalize.css" rel="stylesheet">
 
        <!-- CSS MINE -->
        <link href="css/global.css" rel="stylesheet">
        <link href="css/fonts.css" rel="stylesheet">
        <link href="css/index.css" rel="stylesheet">
        <link href="css/home.css" rel="stylesheet">
        <link href="css/login.css" rel="stylesheet">
        <link href="css/contas.css" rel="stylesheet"> 
        <link href="css/modal-mensagem.css" rel="stylesheet">
        
        <!-- JS VENDOR -->
        <script src="javascript/vendor/jquery/jquery.min.js"></script>
        <script src="javascript/vendor/bootstrap/bootstrap.min.js"></script>
        
        <script src="javascript/vendor/angular/angular-1.5.8.js"></script>
        <script src="javascript/vendor/angular/angular-sanitize.js"></script>
        <script src="javascript/vendor/angular/ui-bootstrap-tpls-2.2.0.js"></script>
        <script src="javascript/vendor/angular/angular-route.js"></script>
        <script src="javascript/vendor/angular-base64/angular-base64.js"></script>
        <script src="javascript/vendor/ng-storage/ngStorage.js"></script>
        <script src="javascript/vendor/angular-logger/angular-logger.min.js"></script>
		


        <script src="javascript/vendor/chartjs/Chart.js"></script> 
        <script src="javascript/vendor/chartjs/utils.js"></script> 

        <script src="javascript/vendor/angular-input-masks/angular-input-masks-standalone.min.js"></script> 
        <script src="javascript/vendor/angular-input-masks/angular-locale_pt-br.js"></script>


        <!-- JS MINE -->
        <script src="javascript/app.js"></script>
        <script src="javascript/routes.js"></script>
        <script src="javascript/config.js"></script>

        <!-- MODULES -->
        <script src="javascript/controllers/login-controller.js"></script>
        <script src="javascript/controllers/grafico-controller.js"></script>
        <script src="javascript/controllers/contas-controller.js"></script>
        <script src="javascript/servicos/contas-service.js"></script>
        <script src="javascript/controllers/navegador-controller.js"></script>
        <script src="javascript/servicos/login-service.js"></script>
        <script src="javascript/diretivas/global-directive.js"></script>
        <script src="javascript/utils/functions-utils.js"></script>
        <script src="javascript/filtros/contas-filter.js"></script>
        <script src="javascript/servicos/log/log-service.js"></script> 
        <script src="javascript/servicos/session/session-service.js"></script>

        <!-- MODAIS -->
        <script src="javascript/componentes/component-modal.js"></script>
        <script src="javascript/controllers/global/modal-default-controller.js"></script>
<!--
        <script src="javascript/controllers/contas-controller.js"></script>
        <script src="javascript/servicos/conta-anos-service.js"></script>
        <script src="javascript/diretivas/conta-anos-directives.js"></script>
        <script src="javascript/filtros/conta-anos-filters.js"></script>
        <script src="javascript/bo/conta-anos-bo.js"></script> 
-->

    </head>
    <body ng-app="controlei" id="index">
        <nav class="navbar navbar-inverse" ng-controller="NavegadorController">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" 
                    		ng-show="flagMostrarMenu"
                    		class="navbar-toggle collapsed" 
                    		data-toggle="collapse" 
                    		data-target="#navbar" 
                    		aria-expanded="false" 
                    		aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="javascript:void(0)" ng-click="logout()">
                        <img src="imagens/logo.png" width="40px" >
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right" ng-show="flagMostrarMenu">
                        <li><a href="javascript:void(0)" ng-click="logout()">Sair</a></li>
                    </ul>
                </div>
            </div>
            <h3 class="saudacao" ng-show="flagMostrarMenu">Bem vindo, <span>{{storage.nome}}</span></h3>
        </nav>   
        <div class="base">
            <div class="loading-wrapper" loading>
                <div class="loading"></div>
                <div class="overlay2"></div>
            </div>    
            <div ng-view class="view"></div>
        </div>
        <div class="footer">
            <div class="wrapper">
                <ul class="itens">
                    <li class="item"><a href="javascript:void(0)">item1</a></li>
                    <li class="item"><a href="javascript:void(0)">item2</a></li>
                    <li class="item"><a href="javascript:void(0)">item3</a></li>
                    <li class="item"><a href="javascript:void(0)">item4</a></li>
                </ul>
                <hr />
                <div class="rodape center">
                    <span class="center">
                        Copyright &copy; - PWMS - versão: 3.7.1
                    </span>
                    <span class="direita">
                    </span>
                </div>
            </div>
        </div>
    </body>
</html>